body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: #121214;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #67d7cc;
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.generic-button {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.generic-button:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;

  white-space: pre-wrap;

  -webkit-box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.479); 
  box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.253);
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  color: #e30b2f;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 300;
}

.search {
  display: flex;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: #e1e1e1;
}

.search input:focus {
  outline: none;
}

.title {
  font-weight: bold;
  font-size: 12px;
}

.title button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.title button:hover {
  background: rgba(255, 255, 255, 0);
}

.title input {
  background: #fef68a;
  color: black;
  font-weight: bold;
  border: none;
}

.date {
  font-size: 12px;
  font-weight: 300;
}

.date button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.date button:hover {
  background: rgba(255, 255, 255, 0);
}

.date input {
  background: #fef68a;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 10px;
  font-weight: lighter;
}

.text {
  font-weight: 300;
  font-size: 12px;
}